.container-proyects {
    background-color: white;
}
.proyects-title {
    font-family: 'Ranade-Regular',sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 3rem 0;
    font-weight: bolder;
    margin: 0;
}