/* @import url('../../assets//css//ranade.css'); */

/* #DBED64
#FFE81C */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #DBED64; */
    color: black;
    height: 80vh;
    /* padding: 100px 0 100px 0; */
    background-color: #fff;
}
.about-container__content {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh;
    position: relative;
}
.about-container__image-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.about-container__image-wave .wave-top {
    position: absolute;
    top: 0;
}
.about-container__image-wave .wave-bottom {
    position: absolute;
    bottom: 0;
}
.about-container__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 60px;
}
.about-h3{
    margin: 0 0 3rem 3rem;
}
.about-container__image {
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 50%;
    /* padding: 1rem; */
}
.about-container__image > h1 {
    font-family: 'Ranade-Bold', sans-serif;
    font-size: 12vh;
    margin: auto;
    text-align: center;
}
.title-aboutme {
    font-family: 'Ranade-Regular', sans-serif;
    margin-bottom: 15px;
}
.about-container__image .about-container__image-woman {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-left: auto;
    
}
.about-container__description > .about-p {
    line-height: 1.8;
    margin: 0;
    font-family: 'Ranade-Light', sans-serif;
}
.container-cv-typo {
    position: relative;
    width: 100%;
    height: 20vh;
    cursor: pointer;
    background-color: #FFE81C;
}
.container-cv-typo:hover {
    background-color: #1b1d23;
}
.container-cv-typo > img {
    filter: invert(0.9);
    object-fit: cover;
    width: 100%;
    position: absolute;
    bottom: 30px;

}
@media (max-width: 760px) {
    .about-container__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
    .about-h3{
        margin: 3rem 0 0 3rem;
    }
    .about-container__description > .about-p{
        font-size: 0.9rem;
    }
    .about-container__image {
        width: 100%;
        padding: 1rem;
        margin: 20px 0 20px 0;
    }
    .about-container__image > img {
        object-fit: contain;
        width: 94%;
        height: 100%;
    }
    .about-container__descriptionn {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0px 50px 0px !important;
    }
}
@media (max-width: 960px){
    .about-container {
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-container__description {
        width: 90%;
        margin: 0 auto;
        padding: 60px;
    }
    .about-container__description > .about-h3 {
        font-size: 30px;
        text-align: center;
    }
    .about-img {
        width: 100%;
        margin-bottom: 50px;
    }
    .about-img > img {
        width: 100%;
    }
}
/* animation text */
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    cursor: pointer;
    background-color: blue;
    text-transform: uppercase;
}
.marquee:hover{
    background-color: blue;
}
.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 10vw;
    font-weight: bolder;
    font-family: 'Ranade-Bold', sans-serif;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
